$blue: #4361ee;

.root {
  border: 1px solid transparent;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: clamp(12px, 2vw, 15px);
  position: relative;
  transition: all 0.15s ease-in-out;

  &:hover {
    border: 1px solid $blue;
    box-shadow: 0 0 0 1px $blue;

    .editButtons {
      opacity: 1;
    }
  }

  &Full {
    &:hover {
      border: 1px solid transparent;
      box-shadow: none;
    }
  }
}

.image {
  width: 100%;
  max-height: 40vh;
  object-fit: contain;

  &Full {
    max-height: 50vh;
    height: 100%;
    object-fit: contain;
  }
}

.wrapper {
  padding: clamp(8px, 2vw, 10px) clamp(12px, 3vw, 20px) clamp(12px, 3vw, 20px);
}

.content {
  margin: clamp(20px, 4vw, 30px) 0 clamp(30px, 6vw, 50px);

  p {
    font-size: clamp(16px, 2.5vw, 22px);
    line-height: 1.6;
  }
}

.indention {
  padding-left: clamp(20px, 5vw, 40px);
}

.title {
  font-size: clamp(20px, 3.5vw, 20px);
  margin: 0;
  margin-bottom: clamp(10px, 2vw, 15px);
  user-select: none;

  &Full {
    font-size: clamp(28px, 5vw, 42px);
    font-weight: 900;
  }
}

.tags {
  list-style: none;
  padding: 0;
  margin: clamp(5px, 1vw, 5px) 0 clamp(10px, 2vw, 15px) 0;
  display: flex;
  flex-wrap: wrap;
  gap: clamp(6px, 1vw, 8px);
  user-select: none;
}

.postDetails {
  list-style: none;
  padding: 0;
  margin: clamp(15px, 3vw, 20px) 0 0 0;

  &Item {
    display: flex;
    align-items: center;
    gap: clamp(6px, 1vw, 8px);
    user-select: none;
    font-size: clamp(14px, 2vw, 16px);

    svg {
      font-size: clamp(16px, 2vw, 18px);
    }
  }
}

.imageFull {
  width: 100%;
  object-fit: contain;
  max-height: 50vh;
  height: 100%;
}

.editButtons {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 6px;
  opacity: 0;
  transition: all 0.15s ease-in-out;
  z-index: 1;
}

.skeleton {
  border: 1px solid #dedede;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 15px;

  &Content {
    padding: 20px;
  }

  &Info {
    margin-left: 50px;
  }
}

.skeletonUser {
  display: flex;

  &Details {
    display: flex;
    flex-direction: column;
  }
}

.skeletonTags {
  display: flex;

  span {
    margin-right: 15px;
  }
}
